/* ===== BASE ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ===== CONTAINER ===== */
.container {
    display: flex;
}

.height {
    min-height: calc(100vh - 100px);
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000;
}

.sidebar .nav div {
    align-items: self-start;
    color: #fff;
    font-size: 14px;
    margin-top: 1rem;
}

.sidebar .nav i {
    flex-shrink: 0;
    font-size: 16px;
    color: #fff;
}

.nav,
.playlist {
    flex-direction: column;
    gap: 0.5rem;
}

.logo {
    gap: 10px;
}

.logo img {
    width: 120px;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.user>.container {
    flex: 0;
    min-height: auto;
    gap: 0.2rem;
    align-items: self-start;
    margin: 0.5rem;
}

.user>.container>i.fa-circle-down {
    color: #636363;
    font-size: 12px;
}

.user p {
    color: #636363;
    font-size: 0.7rem;

}

/* ===== PLAYLIST ===== */
.playlist {
    flex-direction: column;
    gap: 1rem;
    color: #b3b3b3;
    font-size: 0.9rem;
}

.playlist h3 {
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Bottone “Crea Playlist” */
.create-playlist {
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.icon-box {
    width: 32px;
    height: 32px;
    background-color: #a3a3a3;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.icon-box i {
    color: #000;
    font-size: 1rem;
}

.icon-box i:hover {
    color: #fff;
}

/* Lista delle playlist */
.playlist-list {
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
}

.playlist-list li {
    cursor: pointer;
    color: #a3a3a3;
}

.playlist-list li:hover {
    color: #fff;
}

/* ===== MAIN ===== */
.main {
    flex: 1;
    flex-direction: column;
    background-color: #181818;
}

/* ===== HEADER ===== */
.header {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
    background-color: #1c1c1c;
    border-bottom: 1px solid #2a2a2a;
}

.upgrade-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 1rem 1rem;
    border-radius: 30px;
    font-size: 15px;
}

.upgrade-link:hover {
    box-shadow: 0 0 0 1px #fff;
    text-shadow: 0 0 1px #fff;
}

/* ===== CATEGORY BAR ===== */
.category-bar {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #2a2a2a;
    background-color: #181818;
    font-weight: bold;
    font-size: 0.7rem;
    justify-content: center;
    color: #c4c4c4;
}

.category-bar a {
    text-decoration: none;
    color: inherit;
    border-bottom: none;
    outline: none;
}

.category-bar a:hover {
    color: #fff;
}


/* ===== CONTENT ===== */
.content {
    padding: 1.5rem;
    overflow-y: auto;
}

.section {
    margin-bottom: 2rem;
}

.section h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
}

.card {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    display: block;
    object-fit: cover;
    display: block;
}

.card-text {
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.card-round {
    border-radius: 50%;
}

.player {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #181818;
    border-top: 1px solid #2a2a2a;
    height: 200px;
    color: #fff;
    font-size: 0.8rem;
}

/* LEFT */
.player-left {
    align-items: center;
    gap: 0.5rem;
}

.player-cover {
    width: 20%;
    height: auto;
    object-fit: cover;
}

.player-info {
    flex-direction: column;
    font-size: 0.8rem;
}

.player-title {
    font-weight: bold;
}

.player-artist {
    color: #b3b3b3;
}

.player-actions i {
    margin-left: 0.5rem;
    cursor: pointer;
}

.player-saves {
    flex-direction: column;
    gap: 0, 5rem;
}

.player-saves i {
    margin-top: 5px;
}

/* CENTER */
.player-center {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.5rem;

}

.player-center i {
    margin: 0 0.3rem;
    cursor: pointer;
}

.player-progress {
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
}

.progress-bar {
    width: 200px;
    height: 3px;
    background-color: #404040;
    border-radius: 2px;
    position: relative;
}

.progress-fill {
    width: 20%;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
}

/* RIGHT */
.player-right {
    align-items: center;
    gap: 0.5rem;
}

.volume-slider {
    width: 80px;
}




/* ===== RESPONSIVE ===== */
@media screen and (min-width: 700px) {
    .sidebar {
        width: 220px;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, 180px);
        justify-content: center;
    }

    .progress-bar {
        width: 300px;
    }
}

@media screen and (min-width: 1100px) {
    .sidebar {
        width: 240px;
    }

    .logo img {
        width: 80%;

    }


    .content {
        padding: 2rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, 180px);
        justify-content: start;
    }

    .progress-bar {
        width: 500px;
    }
}